* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-header {
  text-decoration: underline;
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.container {
  background-color: white;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 60px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  border: 1px solid white;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.menu ul li a:hover {
  text-decoration: underline;
  background-color: gray;
}

.banner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 4px solid black;
}

.banner-text p {
  font-style: italic;
  font-weight: bold;
}

.about {
  padding: 100px 200px;
  background-color: blue;
  color: white;
}

.about p {
  line-height: 1.5;
  text-align: justify;
}

.contact {
  padding: 100px 200px;
  background-color: cornsilk;
}

.contact-details {
  margin-bottom: 50px;
}

.contact-details h3 i {
  color: gray;
  margin-right: 5px;
}

.contact-details p {
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 10px;
}

.contact-form label {
  display: block;
  color: gray;
  font-size: 15px;
  margin-bottom: 5px;
}

.contact-form input {
  width: 100%;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
}

.contact-form input[type="submit"] {
  background-color: red;
  color: white;
}